@import "common.css";

.main_photo{
    margin-top:2%;
    margin-right:30px;
    margin-left: 30px;
    margin-bottom:5%;
}

.main_photo img{
    border-radius: 12px;
    width: 100%;
    height: 40vh;
}

#paper_slider_images{
    display: flex;
    align-items: center;
    justify-content: center;
}

#workshop_slider_images{
    display: flex;
    align-items: center;
    justify-content: center;
}

#event_slider_images{
    display: flex;
    align-items: center;
    justify-content: center;
}

#conference_slider_images{
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    padding-left: 54px;
}

.material-icons{
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
  }